@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

@layer utilities {
  .translate-y-0 {}
  .translate-y-full {}
  .translate-x-0 {}
  .translate-x-full {}
  .opacity-0 {}
  .opacity-100 {}
}
